{% extends "base.html" %}

{%- set status_code = 404 -%}

{% block header %}
  {{ tnaHeader({
  'logo': {
    'href': '/'
  }
}) }}
{% endblock header %}

{% block content %}
  <div class="tna-container" id="page-not-found">
    <div
      class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-section"
    >
      <h1 class="tna-heading-xl">{{ content.pages.page_not_found.heading }}</h1>
      {% for paragraph in content.pages.page_not_found.paragraphs %}
        <p>{{ paragraph | parse_markdown_links(new_tab=False) | safe }}</p>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
