{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block content %}
  {{ modFoiBreadcrumbs({'breadcrumbItems': breadcrumbItems}) }}
  <div class="tna-section">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ content.pages.do_you_have_a_proof_of_death.heading }}</h1>
        {% for paragraph in content.pages.do_you_have_a_proof_of_death.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <ul class="tna-ul">
          {% for item in content.pages.do_you_have_a_proof_of_death.list_items %}
            <li>{{ item | parse_markdown_links | safe }}</li>
          {% endfor %}
        </ul>
        <div class="tna-warning">
          <h2 class="tna-warning__heading">
            <span class="tna-visually-hidden">Important information</span><span class="tna-warning__heading-icon"
                                                                                aria-hidden="true">!</span>
          </h2>
          <div class="tna-warning__body">
            {{ content.pages.do_you_have_a_proof_of_death.warning }}
          </div>
        </div>
        <form action="{{ url_for('main.do_you_have_a_proof_of_death') }}" method="post" novalidate>
          {{ form.csrf_token }}
          {{ form.do_you_have_a_proof_of_death(params={'headingLevel':2, 'headingSize':'l'}) }}
          <div class="tna-button-group">
            {{ backLink(url_for('main.what_was_their_date_of_birth')) }}
            {{ form.submit(params={'accent':'true', 'icon': 'chevron-right', 'rightAlignIcon': 'true'}) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
