{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block content %}
  {{ modFoiBreadcrumbs({'breadcrumbItems': breadcrumbItems}) }}
  <div class="tna-section">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {% if form.errors %}
          {{ tnaErrorSummary(wtforms_errors(form)) }}
        {% endif %}
        <h1 class="tna-heading-xl">{{ content.pages.upload_a_proof_of_death.heading }}</h1>
        {% for paragraph in content.pages.upload_a_proof_of_death.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <ul class="tna-ul">
          {% for item in content.pages.upload_a_proof_of_death.list_items %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
        <form action="{{ url_for('main.upload_a_proof_of_death') }}" method="post" enctype="multipart/form-data" novalidate>
          {{ form.proof_of_death }}
          {{ form.csrf_token }}
          <div class="tna-button-group">
            {{ form.submit(params={'accent':'true', 'icon':'chevron-right', 'rightAlignIcon':'true'}) }}
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
