{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ content.pages.we_may_hold_this_record.heading }}</h1>
        {% for paragraph in content.pages.we_may_hold_this_record.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <h2 class="tna-heading-m">{{ content.pages.we_may_hold_this_record.sub_heading }}</h2>
        {% for paragraph in content.pages.we_may_hold_this_record.sub_heading_paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <ul class="tna-ul">
          {% for item in content.pages.we_may_hold_this_record.list_items %}
            <li>{{ item | parse_markdown_links | safe }}</li>
          {% endfor %}
        </ul>
        {% for paragraph in content.pages.we_may_hold_this_record.paragraphs_after_list %}
          <p>{{ paragraph | parse_markdown_links | safe }}</p>
        {% endfor %}
        <form action="{{ url_for('main.we_may_hold_this_record') }}" method="post" novalidate>
          {{ form.csrf_token }}
          <div class="tna-button-group">
            {{ backLink(url_for('main.was_service_person_an_officer')) }}
            {{ form.submit(params={'accent':'true'}) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
