@use "@nationalarchives/frontend/nationalarchives/all";
@use "@nationalarchives/frontend/nationalarchives/tools/a11y";

.hide-legend {
  .tna-form-item__header {
    @include a11y.visually-hidden;
  }
}

.form-separator {
  border-block-end: 3px solid black;

  padding-bottom: 3rem;
}

.process-steps {
  list-style-type: none;

  li {
    display: flex;
    flex-wrap: wrap;

    .process-icon {
      margin-right: 2rem;

      font-size: 2.5rem;
    }

    span:nth-child(2) {
      flex-grow: 1;
    }

    span:nth-child(3) {
      flex-basis: 100%;
      padding-inline-start: 0.8rem;
    }
  }
}
