@use "@nationalarchives/frontend/nationalarchives/all";
@use "@nationalarchives/frontend/nationalarchives/tools/a11y";

.hide-legend {
  .tna-form-item__header {
    @include a11y.visually-hidden;
  }
}

.form-separator {
  border-block-end: 3px solid black;

  padding-bottom: 3rem;
}

.process-steps {
  list-style-type: none;

  li {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: max-content 1fr;

    gap: 1rem;

    span:has(i) {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
    }

    .process-icon {
      font-size: 2rem;
    }
  }
}

.mod-foi-back-link {
  i {
    font-size: 0.9rem;
  }

  a {
    &:link {
      color: inherit;
    }

    &:visited {
      color: inherit;
    }
  }
}
