@use "@nationalarchives/frontend/nationalarchives/all";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/a11y";

.hide-legend {
  .tna-fieldset__heading,
  .tna-form-item__label {
    @include a11y.visually-hidden;
  }
}

.form-separator {
  border-block-end: 3px solid black;

  padding-bottom: 3rem;
}

.process-steps {
  list-style-type: none;

  li {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: max-content 1fr;

    gap: 1rem;

    span:has(i) {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
    }

    .process-icon {
      font-size: 2rem;
    }
  }
}

.mod-foi-back-link {
  i {
    font-size: 0.9rem;
  }

  a {
    &:link {
      color: inherit;
    }

    &:visited {
      color: inherit;
    }
  }
}

.order-summary {
  padding: 1rem;
  @include colour.tint;

  dt {
    display: flex;

    font-weight: bold;

    column-gap: 1rem;

    span:first-child {
      min-width: 2rem;
    }
  }

  dd {
    margin-block-end: 1rem;

    display: flex;

    column-gap: 1rem;

    span:first-child {
      min-width: 2rem;
    }
  }
}
