{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block beforeContent %}
  {{ backLink(url_for('main.before_you_start')) }}
{% endblock %}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ content.pages.are_you_sure_you_want_to_cancel.heading }}</h1>

        {% for paragraph in content.pages.are_you_sure_you_want_to_cancel.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <form action="{{ url_for('main.are_you_sure_you_want_to_cancel') }}" method="post" id="cancel-request" novalidate>
          {{ form.csrf_token }}
          <div class="tna-button-group ">
            <a href="{{ url_for('main.before_you_start') }}" class="tna-button tna-button--plain">{{ content.pages.are_you_sure_you_want_to_cancel.no_continue }}</a>
            {# TODO: Use 'accent' parameter here. Only using 'classes' param because I can't work out why the 'accent' parameter isn't working. #}
            {{ form.submit(params={'classes': 'tna-button--accent'}) }}
          </div>
        </form>
      </div>
    </div>
  </div>


{% endblock %}
