{% extends "base.html" %}
{% from "components/warning/macro.html" import tnaWarning %}

{%- set pageTitle = content.pages.are_you_sure_you_want_to_proceed_without_proof_of_death.heading | prepare_page_title -%}

{% block beforeContent %}
  {{ backLink(url_for('main.provide_a_proof_of_death')) }}
{% endblock beforeContent %}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {% if form.errors %}
          {{ tnaErrorSummary(wtforms_errors(form)) }}
        {% endif %}
        <h1
          class="tna-heading-xl tna-!--margin-top-m">{{ content.pages.are_you_sure_you_want_to_proceed_without_proof_of_death.heading }}</h1>
        {{ tnaWarning({
          "headingLevel": 2,
          "body": content.pages.are_you_sure_you_want_to_proceed_without_proof_of_death.warning
        }) }}
        <form action="{{ url_for('main.are_you_sure_you_want_to_proceed_without_proof_of_death') }}" method="post"
              novalidate>
          {{ form.csrf_token }}
          {{ form.are_you_sure_you_want_to_proceed_without_proof_of_death(params={'headingLevel':2, 'headingSize':'l'}) }}
          <div class="tna-button-group">
            {{ form.submit(params={'classes':'tna-button--accent'}) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
