{% extends 'base.html' %}
{% from "components/warning/macro.html" import tnaWarning %}

{%- set pageTitle = content.app.title -%}

{% block beforeContent %}
  {{ backLink(url_for(back_link)) }}
{% endblock %}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {% if form.errors %}
          {{ tnaErrorSummary(wtforms_errors(form)) }}
        {% endif %}
        <h1 class="tna-heading-xl">{{ content.pages.before_you_start.heading }}</h1>
        {% for paragraph in content.pages.before_you_start.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <h2 class="tna-heading-m">{{ content.pages.before_you_start.mandatory_information.heading }}</h2>
        {% for paragraph in content.pages.before_you_start.mandatory_information.before_list.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <ul class="tna-ul">
          {% for item in content.pages.before_you_start.mandatory_information.list_items %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
        {% for paragraph in content.pages.before_you_start.mandatory_information.after_list.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <h2 class="tna-heading-m">{{ content.pages.before_you_start.proof_of_death_requirement.heading }}</h2>
        {% for paragraph in content.pages.before_you_start.proof_of_death_requirement.before_first_list.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <ul class="tna-ul">
          {% for item in content.pages.before_you_start.proof_of_death_requirement.first_list %}
            <li>{{ item | parse_markdown_links | safe }}</li>
          {% endfor %}
        </ul>
        {% for paragraph in content.pages.before_you_start.proof_of_death_requirement.before_second_list.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <ul class="tna-ul">
          {% for item in content.pages.before_you_start.proof_of_death_requirement.second_list %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>

        {{ tnaWarning({
          "headingLevel": 3,
          "body": content.pages.before_you_start.proof_of_death_requirement.after_second_list.paragraph
        }) }}

        <h2 class="tna-heading-m">{{ content.pages.before_you_start.important_information_that_will_help.heading }}</h2>
        {% for paragraph in content.pages.before_you_start.important_information_that_will_help.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <ul class="tna-ul">
          {% for item in content.pages.before_you_start.important_information_that_will_help.list_items %}
            <li>{{ item | parse_markdown_links | safe }}</li>
          {% endfor %}
        </ul>
        <h2 class="tna-heading-m">{{ content.pages.before_you_start.about_the_online_form.heading }}</h2>
        {% for paragraph in content.pages.before_you_start.about_the_online_form.paragraphs %}
          <p>{{ paragraph | parse_markdown_links | safe }}</p>
        {% endfor %}
        <form action="{{ url_for('main.before_you_start') }}" method="post" novalidate>
          {{ form.csrf_token }}
          <div class="hide-legend tna-!--margin-top-m">
            {{ form.ready_to_continue() }}
          </div>
          <div class="tna-button-group">
            <a href="{{ url_for('main.are_you_sure_you_want_to_cancel') }}"
               class="tna-button tna-button--plain">{{ content.pages.before_you_start.exit_this_form }}</a>
            {{ form.submit(params={'classes':'tna-button--accent'}) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
