{% extends "base.html" %}

{%- set pageTitle = content.app.title -%}

{% block beforeContent %}
  {{ backLink(url_for(back_link_route)) }}
{% endblock beforeContent %}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {% if form.errors %}
          {{ tnaErrorSummary(wtforms_errors(form)) }}
        {% endif %}
        <h1 class="tna-heading-xl tna-!--margin-top-m">{{ content.pages.choose_your_order_type.heading }}</h1>
        {% for paragraph in content.pages.choose_your_order_type.paragraphs %}
          <p>{{ paragraph | parse_bold_text | safe }}</p>
        {% endfor %}
        <h2 class="tna-heading-l">
          {{ content.pages.choose_your_order_type.standard.heading }}<br>
          <span
            class="tna-heading-s">{{ content.pages.choose_your_order_type.standard.sub_heading }}</span>
        </h2>
        {% for paragraph in content.pages.choose_your_order_type.standard.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        {% if content.pages.choose_your_order_type.standard.table_rows %}
          <table class="tna-table">
            {% for row in content.pages.choose_your_order_type.standard.table_rows %}
              <tr class="tna-table__row">
                <th class="tna-table__header">{{ row.header }}</th>
                <td class="tna-table__cell">{{ row.data | safe }}</td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
        <form action="{{ url_for('main.choose_your_order_type') }}" method="post" novalidate
              class="form-separator">
          {{ form.csrf_token(id='standard-option') }}
          {{ form.processing_option(value='standard', id='processing_option_standard') }}
          <div class="tna-button-group">
            {{ form.submit_standard(params={'classes':'tna-button--accent'}) }}
          </div>
        </form>
        <h2 class="tna-heading-l">
          {{ content.pages.choose_your_order_type.full_record_check.heading }}<br>
          <span
            class="tna-heading-s">{{ content.pages.choose_your_order_type.full_record_check.sub_heading }}</span>
        </h2>
        {% for paragraph in content.pages.choose_your_order_type.full_record_check.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <table class="tna-table">
          <tr class="tna-table__row">
            <th
              class="tna-table__header">{{ content.pages.choose_your_order_type.full_record_check.table.costs_header }}</th>
            <td class="tna-table__cell">
              <p
                class="tna-!--margin-bottom-s">{{ content.pages.choose_your_order_type.full_record_check.table.costs_data.payments_paragraph }}</p>
              <ul class="tna-ul--no-list-style tna-ul--spaced">
                {% for item in content.pages.choose_your_order_type.full_record_check.table.costs_data.list_items %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          <tr class="tna-table__row">
            <th
              class="tna-table__header">{{ content.pages.choose_your_order_type.full_record_check.table.delivery_header }}</th>
            <td class="tna-table__cell">
              {{ content.pages.choose_your_order_type.full_record_check.table.delivery_data }}
            </td>
          </tr>
          <tr class="tna-table__row">
            <th
              class="tna-table__header">{{ content.pages.choose_your_order_type.full_record_check.table.refunds_header }}</th>
            <td class="tna-table__cell">
              {{ content.pages.choose_your_order_type.full_record_check.table.refunds_data | safe }}
            </td>
          </tr>
        </table>
        <form action="{{ url_for('main.choose_your_order_type') }}" method="post" novalidate
              class="form-separator">
          {{ form.csrf_token(id='full-check-option') }}
          {{ form.processing_option(value='full', id='processing_option_full_record_check') }}
          <div class="tna-button-group">
            {{ form.submit_full_check(params={'classes':'tna-button--accent'}) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
