{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block beforeContent %}
  {{ modFoiBreadcrumbs({'breadcrumbItems': breadcrumbItems}) }}
{% endblock %}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {% if form.errors %}
          {{ tnaErrorSummary(wtforms_errors(form)) }}
        {% endif %}
        <h1 class="tna-heading-xl">{{ content.pages.how_do_you_want_your_order_processed.heading }}</h1>
        {% for paragraph in content.pages.how_do_you_want_your_order_processed.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <h2 class="tna-heading-l">
          {{ content.pages.how_do_you_want_your_order_processed.order_type_one.heading }}<br>
          <span
            class="tna-heading-s">{{ content.pages.how_do_you_want_your_order_processed.order_type_one.sub_heading }}</span>
        </h2>
        {% for paragraph in content.pages.how_do_you_want_your_order_processed.order_type_one.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        {% if content.pages.how_do_you_want_your_order_processed.order_type_one.table_rows %}
          <table class="tna-table">
            {% for row in content.pages.how_do_you_want_your_order_processed.order_type_one.table_rows %}
              <tr class="tna-table__row">
                <th class="tna-table__header">{{ row.header }}</th>
                <td class="tna-table__cell tna-table__cell--numeric">{{ row.data }}</td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}


        <form action="{{ url_for('main.how_do_you_want_your_order_processed') }}" method="post" novalidate
              class="form-separator">
          {{ form.csrf_token(id='standard-option') }}
          {# The processing_option fields are hard-coded to allow a single HowDoYouWantYourOrderProcessed form to be reused in the page #}
          <input type="hidden" name="processing_option" value="standard"/>
          {{ form.how_do_you_want_your_order_processed_standard_option() }}
          <div class="tna-button-group">
            {{ form.submit_standard(params={'accent':'true'}) }}
          </div>
        </form>

        <h2 class="tna-heading-l">
          {{ content.pages.how_do_you_want_your_order_processed.order_type_two.heading }}
        </h2>

        {% for paragraph in content.pages.how_do_you_want_your_order_processed.order_type_two.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}

        {% if content.pages.how_do_you_want_your_order_processed.order_type_two.table_rows %}
          <table class="tna-table">
            {% for row in content.pages.how_do_you_want_your_order_processed.order_type_two.table_rows %}
              <tr class="tna-table__row">
                <th class="tna-table__header">{{ row.header }}</th>
                <td class="tna-table__cell tna-table__cell--numeric">{{ row.data }}</td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}

        <form action="{{ url_for('main.how_do_you_want_your_order_processed') }}" method="post" novalidate>
          {{ form.csrf_token(id='full-option') }}
          {# The processing_option fields are hard-coded to allow a single HowDoYouWantYourOrderProcessed form to be reused in the page #}
          <input type="hidden" name="processing_option" value="full"/>
          {{ form.how_do_you_want_your_order_processed_full_option() }}
          <div class="tna-button-group">
            {{ form.submit_full_check(params={'accent':'true'}) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
