{% extends "base.html" %}

{%- set pageTitle = content.app.title -%}

{% block beforeContent %}
  {{ backLink(url_for('main.you_may_want_to_check_ancestry')) }}
{% endblock beforeContent %}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {% if form.errors %}
          {{ tnaErrorSummary(wtforms_errors(form)) }}
        {% endif %}
        <h1 class="tna-heading-xl tna-!--margin-top-l">{{ content.pages.is_service_person_alive.heading }}</h1>
        {% for paragraph in content.pages.is_service_person_alive.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <form action="{{ url_for('main.is_service_person_alive') }}" method="post" novalidate>
          {{ form.csrf_token }}
          {{ form.is_service_person_alive() }}
          <div class="tna-button-group">
            {{ form.submit(params={'classes':'tna-button--accent'}) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
