{% extends "base.html" %}

{%- set pageTitle = content.pages.payment_summary.heading | prepare_page_title -%}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl tna-!--margin-top-m">{{ content.pages.payment_summary.heading }}</h1>
        {% for paragraph in content.pages.payment_summary.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <dl class="order-summary tna-!--margin-top-m">
          <dt><span><i
            class="fa-solid fa-file"></i></span><span>{{ content.pages.payment_summary.order_type_term }}</span></dt>
          <dd>
            <span>&nbsp;</span>
            {{ order_number }}
          </dd>
          <dt><span><i
            class="fa-solid fa-sterling-sign"></i></span><span>{{ content.pages.payment_summary.price.term }}</span>
          </dt>
          <dd>
            <span>&nbsp;</span>
            {{ price }}<br>
            {{ content.pages.payment_summary.price.message }}
          </dd>
        </dl>
      </div>
    </div>
  </div>
{% endblock content %}
