{% extends "base.html" %}

{%- set pageTitle = content.pages.proof_of_death_upload_failed.heading | prepare_page_title -%}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl tna-!--margin-top-m">{{ content.pages.proof_of_death_upload_failed.heading }}</h1>

        {% for paragraph in content.pages.proof_of_death_upload_failed.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}

        <div class="tna-button-group">
          <a href="{{ url_for('main.service_person_details') }}"
             class="tna-button tna-button--accent">{{ content.pages.proof_of_death_upload_failed.call_to_action }}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
