{% extends "base.html" %}
{%- set pageTitle = content.app.title -%}
{% if reference_number %}
  {% set panel_body = content.pages.request_submitted.payment_reference_available ~ ' <strong id="reference-number">' ~ reference_number ~ '</strong>' %}
{% else %}
  {% set panel_body = content.pages.request_submitted.payment_reference_not_available %}
{% endif %}
{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--padding-top-m">
        {{ tnaPanel({
          "title": content.pages.request_submitted.heading,
          "body": panel_body,
          "headingLevel": 1
        }) }}
        {% for paragraph in content.pages.request_submitted.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <h2 class="tna-heading-m">{{ content.pages.request_submitted.what_happens_next.heading }}</h2>
        {% for paragraph in content.pages.request_submitted.what_happens_next.paragraphs %}
          <p>{{ paragraph | parse_markdown_links | safe }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
