{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% set reference_number_html = '<strong id="reference-number">' ~ reference_number ~ '</strong>' if reference_number else '' %}

{%- set panel_body = '<p>' ~ (content.pages.request_submitted.paragraphs
  | map('replace', '[reference_number]', reference_number_html)
  | join('</p><p>')) ~ '</p>' -%}

{% block beforeContent %}
  {{ modFoiBreadcrumbs({'breadcrumbItems': breadcrumbItems}) }}
{% endblock %}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {{ tnaPanel({
          "title": content.pages.request_submitted.heading,
          "body": panel_body,
          "headingLevel": 1
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
