{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block beforeContent %}
  {{ modFoiBreadcrumbs({'breadcrumbItems': breadcrumbItems}) }}
{% endblock %}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ content.pages.search_the_catalogue.heading }}</h1>
        {% for paragraph in content.pages.search_the_catalogue.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <ul class="tna-ul">
          {% for item in content.pages.search_the_catalogue.list_items %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
        <div class="tna-button-group">
          {{ backLink(url_for('main.have_you_checked_the_catalogue')) }}
          <a href="https://discovery.nationalarchives.gov.uk/" class="tna-button tna-button--accent">
            <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
            {{ content.pages.search_the_catalogue.call_to_action }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}