{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block beforeContent %}
  {{ backLink(url_for('main.what_was_their_date_of_birth')) }}
{% endblock %}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {% if form.errors %}
          {{ tnaErrorSummary(wtforms_errors(form)) }}
        {% endif %}
        <h1 class="tna-heading-xl">{{ content.pages.service_person_details.heading }}</h1>

        {% for paragraph in content.pages.service_person_details.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}

        <form action="{{ url_for('main.service_person_details') }}" method="post" novalidate>
          {{ form.csrf_token }}
          {{ form.first_name(params={'headingLevel':2, 'size':'m', 'autocomplete':'off'}) }}
          {{ form.middle_names(params={'headingLevel':2, 'size':'m', 'autocomplete':'off'}) }}
          {{ form.last_name(params={'headingLevel':2, 'size':'m', 'autocomplete':'off'}) }}
          {{ form.other_last_names(params={'headingLevel':2, 'size':'m', 'autocomplete':'off'}) }}
          {{ form.service_number(params={'headingLevel':2, 'size':'m', 'autocomplete':'off', 'hint': content.forms.fields.service_number.hint }) }}
          {{ form.place_of_birth(params={'headingLevel':2, 'size':'m', 'autocomplete':'off'}) }}
          {{ form.died_in_service(params={'headingLevel':2}) }}
          {{ form.date_of_death(params={'headingLevel':2, 'autocomplete':'off'}) }}
          {{ form.regiment(params={'headingLevel':2, 'size':'m', 'autocomplete':'off', 'hint': content.forms.fields.regiment.hint }) }}
          {{ form.additional_information(params={'headingLevel':2}) }}
          <div class="tna-button-group">
            {{ form.submit(params={'classes':'tna-button--accent'}) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
