{% extends "base.html" %}

{%- set pageTitle = content.pages.unable_to_upload_proof_of_death.heading | prepare_page_title -%}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl tna-!--margin-top-m">{{ content.pages.unable_to_upload_proof_of_death.heading }}</h1>
        {% for paragraph in content.pages.unable_to_upload_proof_of_death.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <div class="tna-!--margin-top-m">
          <form action="{{ url_for('main.unable_to_upload_proof_of_death') }}" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="tna-button-group">
              {{ form.submit(params={'classes': 'tna-button--accent'}) }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
