{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block beforeContent %}
  {{ backLink(url_for('main.were_they_a_commissioned_officer')) }}
{% endblock %}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ content.pages.we_are_unlikely_to_hold_army_officer_records.heading }}</h1>
        {% for paragraph in content.pages.we_are_unlikely_to_hold_army_officer_records.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <ul class="tna-ul">
          {% for rank in content.pages.we_are_unlikely_to_hold_army_officer_records.list %}
            <li>{{ rank }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
