{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block beforeContent %}
  {{ backLink(url_for(back_link)) }}
{% endblock %}

{% block content %}
  <div class="tna-section tna-!--padding-top-s" data-template-id="unlikely-to-hold--raf-officer-records">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ content.pages.we_are_unlikely_to_hold_officer_records__raf.heading }}</h1>
        {% for paragraph in content.pages.we_are_unlikely_to_hold_officer_records__raf.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <ul class="tna-ul" id="exceptions-list">
          {% for rank in content.pages.we_are_unlikely_to_hold_officer_records__raf.list %}
            <li>{{ rank }}</li>
          {% endfor %}
        </ul>
        <form action="{{ url_for('main.we_are_unlikely_to_hold_officer_records__raf') }}" method="post" novalidate>
          {{ form.csrf_token }}
          <div class="tna-button-group">
            {{ form.submit(params={'classes':'tna-button--plain'}) }}
            <a href="{{ mod_service_link }}" target="_blank"
               rel="noreferrer noopener" class="tna-button tna-button--accent">
              {{ content.pages.we_are_unlikely_to_hold_officer_records__raf.call_to_action }}
            </a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
