{% extends "base.html" %}

{%- set pageTitle = content.pages.we_do_not_have_records_for_people_born_after.heading | prepare_page_title -%}

{% block beforeContent %}
  {{ backLink(url_for('main.what_was_their_date_of_birth')) }}
{% endblock beforeContent %}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1
          class="tna-heading-xl tna-!--margin-top-m">{{ content.pages.we_do_not_have_records_for_people_born_after.heading }}</h1>
        {% for paragraph in content.pages.we_do_not_have_records_for_people_born_after.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <form action="{{ url_for('main.we_do_not_have_records_for_people_born_after') }}" method="post" novalidate>
          {{ form.csrf_token }}
          <div class="tna-button-group ">
            {{ form.submit(params={'classes': 'tna-button--plain'}) }}
            <a href="{{ mod_service_link }}" target="_blank"
               rel="noreferrer noopener" class="tna-button tna-button--accent">
              {{ content.pages.we_do_not_have_records_for_people_born_after.call_to_action }}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
