{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block beforeContent %}
  {{ modFoiBreadcrumbs({'breadcrumbItems': breadcrumbItems}) }}
{% endblock %}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ content.pages.we_do_not_have_records_for_people_born_after.heading }}</h1>
        {% for paragraph in content.pages.we_do_not_have_records_for_people_born_after.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <div class="tna-button-group">
          <a href="https://www.gov.uk/get-copy-military-records-of-service" class="tna-button tna-button--accent">
            {{ content.pages.we_do_not_have_records_for_people_born_after.call_to_action }}
            <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
