{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block beforeContent %}
  {{ backLink(url_for('main.what_was_their_date_of_birth')) }}
{% endblock %}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ content.pages.we_do_not_have_records_for_people_born_before.heading }}</h1>
        {% for paragraph in content.pages.we_do_not_have_records_for_people_born_before.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
