{% extends "base.html" %}

{%- set pageTitle = content.pages.which_military_branch_did_the_person_serve_in.heading | prepare_page_title -%}

{% block beforeContent %}
  {{ backLink(url_for('main.is_service_person_alive')) }}
{% endblock beforeContent %}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {% if form.errors %}
          {{ tnaErrorSummary(wtforms_errors(form)) }}
        {% endif %}
        <h1
          class="tna-heading-xl tna-!--margin-top-m">{{ content.pages.which_military_branch_did_the_person_serve_in.heading }}</h1>
        {% for paragraph in content.pages.which_military_branch_did_the_person_serve_in.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        <ul class="tna-ul">
          {% for item in content.pages.which_military_branch_did_the_person_serve_in.list_items %}
            <li>{{ item | parse_markdown_links(new_tab=False) | safe | safe }}</li>
          {% endfor %}
        </ul>
        <form action="{{ url_for('main.service_branch_form') }}" method="post" novalidate>
          {{ form.csrf_token }}
          {{ form.service_branch() }}
          <div class="tna-button-group">
            {{ form.submit(params={'classes':'tna-button--accent'}) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
