{% extends "base.html" %}

{%- set pageTitle = content.app.title -%}

{% block beforeContent %}
  {{ backLink(url_for(back_link_route)) }}
{% endblock beforeContent %}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl tna-!--margin-top-m">{{ content.pages.your_order_summary.heading }}</h1>
        <dl class="order-summary tna-!--margin-top-m">
          <dt><span><i
            class="fa-solid fa-file"></i></span><span>{{ content.pages.your_order_summary.order_type_term }}</span></dt>
          <dd>
            {% if order_summary_data.processing_option == "standard" %}
              <span>&nbsp;</span><span
              id="processing-option">{{ content.pages.your_order_summary.processing_option_description_standard }}</span>
            {% elif order_summary_data.processing_option == "full" %}
              <span>&nbsp;</span><span
              id="processing-option">{{ content.pages.your_order_summary.processing_option_description_full }}</span>
            {% endif %}
          </dd>
          <dt><span><i
            class="fa-solid fa-sterling-sign"></i></span><span>{{ content.pages.your_order_summary.price_term }}</span>
          </dt>
          <dd>
            <span>&nbsp;</span><span id="price">£{{ order_summary_data.amount_pence / 100 }}
            {% if order_summary_data.delivery_option == "PrintedTracked" %}
              plus £1.89 per page copying fee
            {% endif %}
          </span>
          </dd>
          <dt><span><i
            class="fa-solid fa-envelope"></i></span><span>{{ content.pages.your_order_summary.format_term }}</span></dt>
          <dd>
            {% if order_summary_data.delivery_option == "PrintedTracked" %}
              <span>&nbsp;</span><span>{{ content.pages.your_order_summary.format_description_printed }}</span>
            {% elif order_summary_data.delivery_option == "Digital" %}
              <span>&nbsp;</span><span>{{ content.pages.your_order_summary.format_description_digital }}</span>
            {% endif %}
          </dd>
        </dl>

        <div class="tna-!--margin-top-m">
          <form action="{{ url_for('main.your_order_summary') }}" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="tna-button-group">
              <a href="{{ url_for('main.choose_your_order_type') }}" class="tna-button tna-button--plain">
                {{ content.pages.your_order_summary.change_order_type }}
              </a>
              {{ form.submit(params={'classes': 'tna-button--accent'}) }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
