{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block beforeContent %}
  {{ backLink(url_for('main.choose_your_order_type')) }}
{% endblock %}

{% block content %}
  <div class="tna-section tna-!--padding-top-s">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ content.pages.your_contact_details.heading }}</h1>
        {% if form.errors %}
          {{ tnaErrorSummary(wtforms_errors(form)) }}
        {% endif %}
        <form action="{{ url_for('main.your_contact_details') }}" method="post" novalidate>
          {{ form.csrf_token }}
          {{ form.requester_first_name(params={'headingLevel':2, 'size':'m', 'autocomplete':'given-name'}) }}
          {{ form.requester_last_name(params={'headingLevel':2, 'size':'m', 'autocomplete':'family-name'}) }}
          {{ form.requester_email(params={'headingLevel':2, 'size':'m', 'autocomplete':'email', 'hint': content.forms.fields.requester_email.hint}) }}
          <div class="hide-legend tna-!--margin-top-m">
            {{ form.does_not_have_email(params={'headingLevel':2, 'size':'m'}) }}
          </div>
          <div class="tna-button-group">
            {{ form.submit(params={'classes':'tna-button--accent'}) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
