{%- from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs -%}

{% macro modFoiBreadcrumbs(args) -%}
<div class="tna-section tna-!--padding-top-xs tna-!--padding-bottom-s{% if args.hasAccentBackground %} tna-background-accent-light{% endif %}">
  <div class="tna-container">
    <div
      class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      {{ tnaBreadcrumbs({
        'items': args.breadcrumbItems
      }) }}
    </div>
  </div>
</div>
{%- endmacro %}
