{% macro orderPrice(content, order_summary_data) %}
  <div>
    <span
      data-price="{{ order_type_price_in_pounds }}">£{{ (order_summary_data.delivery_fee_pence + order_summary_data.amount_pence) | convert_pence_to_pounds_string }}</span>
    {% if order_summary_data.order_type == "standard_printed" %}
      <p>
        {{ content.pages.your_order_summary.costs_standard_printed | format_standard_printed_order_price(order_summary_data.delivery_fee_pence, order_summary_data.amount_pence) | safe }}
      </p>
    {% endif %}
    {% if order_summary_data.order_type == "full_record_check_printed" %}
      <p>
        {{ content.pages.your_order_summary.per_page_copying_fee.full_record_check_printed }}
      </p>
    {% endif %}
    {% if order_summary_data.order_type == "full_record_check_digital" %}
      <p>
        {{ content.pages.your_order_summary.per_page_copying_fee.full_record_check_digital }}
      </p>
    {% endif %}
  </div>
{% endmacro %}
